/* Universal Styles */

body {
  font-size: 16px;
}

/* Header Styles */

header {
  border: 1px solid red ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

header .container {
  border: 1px solid green;
  display: flex;
  align-items: center;
}

header .colmar {
  font-weight: bold;
}

header .logo {
  margin-left: 1.5rem;
}

header img {
  height: 3rem;
}

header nav {
  border: 1px solid blue;
}

header ul {
  display: flex;
  align-items: center;
}

header li {
  margin: 0 8px 0 8px;
}

/* Banner Styles */

#banner {
  border: 2px dotted red;
  display: inline-flex;
  align-items: center;
  background-color: rgb(218, 218, 218);
}

#banner img {
  width: 60%;
  margin: 2rem 2.5rem 2rem 1.5rem;
}

#banner .content {
  border: 2px dotted blue;
}

#banner h3 {
  font-weight: bold;
}

#banner p {
  margin: 2rem 0 2rem 0;
}

#banner .button {
  background-color: rgb(92, 91, 91);
  color: rgb(255, 255, 255);
  padding: 0.5rem 0 0.5rem 0;
  text-align: center;
}

/* Main Styles */

#main {
  border: 2px dashed purple;
  display: inline-flex;
  background-color: rgb(255, 255, 255);
}

#main .info {
  border: 2px dotted firebrick;
}

#main .info img {
  width: 60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

#main .info p {
  margin: 1.5rem 0 1.5rem 0;
}

#main .column {
  border: 2px dashed orange;
  width: auto;
}

#main .column .container {
  border: 2px dashed black;
  display: flex;
  align-items: center;
}

#main .column img {
  width: 35%;
  margin: 1rem 1rem 1rem 1rem;
}

#main .column h6 {
  font-weight: bold;
}

#main .column span {
  margin: 0.5rem 0 0.5rem 0;
}

.column .lecture {
  background-color: rgb(218, 218, 218);
}

.column a {
  color: rgb(141, 201, 247);
}

/* Courses Styles */

#courses {
  border: 2px ridge blue;
  background-color: rgb(218, 218, 218);
}

#courses h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#courses .content {
  border: 2px groove red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1.5rem;
}

#courses .container {
  border: 2px groove green;
  background-color: rgb(255, 255, 255);
  width: 20rem;
  margin: 0 1rem 0.5rem 1rem;
}

#courses img {
  width: 100%;
}

#courses h5 {
  font-weight: bold;
  margin: 1rem 0 0.5rem 1rem;
}

#courses span {
  margin-left: 1rem;
}

#courses p {
  margin: 0.5rem 0 1.5rem 1rem;
}

/* Exhibit Styles */

#exhibit {
  border: 2px solid red;
}

#exhibit .content {
  border: 2px dashed blue;
  display: flex;
  justify-content: space-between;
}

video {
  width: 40%;
}

#exhibit .column {
  border: 2px dotted green;
}

#exhibit img {
  width: 45%;
}

#exhibit .container {
  border: 1px dashed orange;
}
